@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* BASE STYLES */
body {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p,
button {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-weight: 400;
}

.btn {
  font-weight: 700;
  border-radius: 1.25rem;
}

.btn-light {
  background-color: #ffffff;
}

/* NAV */
.logo {
  width: 30%;
}

nav .btn {
  font-size: 0.75rem;
}
