@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* BASE STYLES */
body {
  font-size: 18px;
  color: hsl(192, 100%, 9%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p,
button {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-weight: 400;
  font-size: 1.02rem;
}

.btn {
  font-weight: 700;
  border-radius: 1.25rem;
}

.btn-primary {
  background-color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
  font-size: 0.75rem;
  margin: 2rem 0 3rem;
  padding: 3% 20%;
  letter-spacing: 0.5px;
}

.btn-light {
  background-color: #ffffff;
  font-size: 0.65rem;
}

.card {
  border-radius: 1.25rem;
}

/* NAV */
.logo {
  width: 29%;
}

/* SECTION 1 */
.section-1 {
  background-color: hsl(193, 100%, 96%);
  background-image: url('images/bg-hero-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 91.5%;
}

.section-1 h1 {
  line-height: 1.5;
}

/* SECTION 2 */
.section-2 .card-deck .card {
  margin-bottom: 40px;
}

.section-2 .card-body {
  padding: 3rem 2.25rem;
}

/* SECTION 3 */
.section-3 h2 {
  font-size: 1.1rem;
}

/* FOOTER */
footer {
  background-color: hsl(192, 100%, 9%);
  color: #ffffff;
}

footer ul {
  list-style-type: none;
}
