@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* BASE STYLES */
body {
  font-size: 18px;
  color: hsl(192, 100%, 9%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p,
button {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-weight: 400;
  font-size: 1.02rem;
}

a {
  color: #ffffff;
}

a:hover {
  color: hsl(208, 11%, 55%);
}

.btn {
  font-weight: 700;
  border-radius: 1.25rem;
}

.btn-primary {
  background-color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
  font-size: 0.75rem;
  margin: 2rem 0 3rem;
  padding: 3% 20%;
  letter-spacing: 0.5px;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background-color: hsl(322, 60%, 55%);
  border-color: hsl(322, 60%, 55%);
}

.btn-light {
  background-color: #ffffff;
  font-size: 0.65rem;
}

.card {
  border-radius: 1.25rem;
  border-color: #ffffff;
}

/* NAV */
.logo {
  width: 29%;
}

/* SECTION 1 */
.section-1 {
  background-color: hsl(193, 100%, 97%);
  background-image: url('images/bg-hero-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 91.5%;
}

.section-1 h1 {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* SECTION 2 */
.section-2 .card {
  margin-bottom: 40px;
}

.section-2 .card-body {
  padding: 3rem 2.25rem;
}

.section-2 .card-body-text p {
  color: hsl(208, 11%, 55%);
}

/* SECTION 3 */
.section-3 h2 {
  font-size: 1.1rem;
}

.section-3 .card {
  top: 0;
  left: 5%;
  right: 5%;
}

/* FOOTER */
footer {
  background-color: hsl(192, 100%, 9%);
  color: #ffffff;
  padding: 3rem 0 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-bottom: 18px;
}

.footer-info li {
  display: flex;
}

.footer-info img {
  margin-right: 24px;
}

.footer-info li:first-of-type img {
  margin-right: 28px;
}

.social li {
  margin-bottom: 0;
}

.social i {
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 6px 7px;
}

.fab.fa-facebook-f {
  padding-left: 10px;
  padding-right: 10px;
}

footer abbr[title] {
  font-size: 12px;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .section-1 .logo img {
    width: 55%;
  }

  .section-1 {
    background-image: url('images/bg-hero-desktop.svg');
  }

  .section-1 h1 {
    font-size: 1.7rem;
  }

  .section-1 p {
    font-size: 1rem;
  }

  .section-1 .btn-primary {
    font-size: 0.5rem;
    margin: 1rem 0 3rem;
    padding: 3% 12%;
  }

  .section-3 .card {
    width: 70%;
    left: 15%;
    right: 15%;
  }

  footer abbr[title] {
    font-size: 11px;
  }
}

@media screen and (min-width: 1200px) {
  .section-1 .btn-primary,
  .section-1 .btn-light {
    border-radius: 2.25rem;
  }

  .section-1 .btn-primary {
    font-size: 0.9rem;
  }

  .section-1 .btn-light {
    font-size: 0.8rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  .section-1 {
    padding-bottom: 1.5rem;
  }

  .section-1 h1 {
    font-size: 2.7rem;
  }

  .section-1 p {
    font-size: 1.16rem;
  }

  .section-2 .card-body {
    padding: 3rem 1.5rem 3rem 5rem;
  }

  .section-2 .card-body-text h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .section-2 .card-body-text p {
    font-size: 1.09rem;
  }
  footer {
    padding: 8rem 0 3rem;
  }
}
